/* header/ */
#gnb {
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.1rem solid #DFDFDF;
  background-color: rgba(255, 255, 255, 0.8);
  position: sticky;
  top: 0;
  padding-left: 20rem;
  padding-right: 20rem;
  z-index: 1;
}

header .content {
  height: 5.1rem;
  width: 152rem;
  display: flex;
  justify-content: space-between;
}

header .logo img {
  width: 15.3rem;
  height: 5.1rem;
}

header .loginButn {
  width: 12.8rem;
  height: 4.8rem;
  border-radius: 0.8rem;
  background-color: #3692FF;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 15%));
}

header .loginButn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #F3F4F6;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
}
